body {
	background-color: #008000
}
#tablazat{
    text-align: center;
    font-size: 40px;
}
.kozepre{
	margin: 50px auto 50px auto;
	background-color: forestgreen;
	width: 1000px;
	border: 6px solid black;
}
.szovegkozepre{
	text-align: center;
}
.cellaformazas{
    width: 300px;
    height: 400px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}
.cellaformazas2{
	padding: 40px;
	width: 700px;
	text-align: justify;
}
.gomb{
	text-decoration: none;
	color: black;
	width: 200px;
	margin: 10px;
	padding: 15px;
	background: #00FF00;
	text-align: center;
	font-family: Verdana;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #000;
	display: inline-block;
	color: #003300;
}
.gomb:hower{
    cursor: pointer;
    filter: invert(100%);
    box-shadow: none;
}
.felulre {
	vertical-align: top;
}
.nem_gomb_hivatkozas {
	color: #FFFFFF;
}
h2 {
	font-size: 30px;
	text-align: center;
}
hr {
	color: #000000;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #000000;
}
.idezet {
	font-family: "Segoe Print";
	font-size: 20px;
	font-style: italic;
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 3px;
	border-left-width: 3px;
	border-right-color: #000000;
	border-left-color: #000000;
	text-align: center;
	padding: 35px;
	margin: 10px auto 10px auto;
	width: 500px;
}
.kepgaleria {
	margin-bottom: 150px;
}
.kepcicoma{
    border: 6px ridge white;
}
.szovegjobbra{
    text-align: right;
}
